header {
  background-color: black;
  height: 100px;

  h1 {
    color: white;
    font-size: 2.5rem;
  }
}
h2 {
  text-align: center;
  padding: 20px 0;
}
table {
  border: 2px solid black;
  border-collapse: collapse;
}
th,
td {
  border: 1px solid $blue;
  border-collapse: collapse;
  padding: 5px 10px;
}
footer {
  background-color: $blue;
  height: 100px;
}
canvas {
  border: 2px solid $green;
  transition: $trans;
  margin: 20px;

  &:hover {
    border-color: $blue;
  }
}
.home {
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 500px;

  h2 a {
    color: $blue;
    transition: $trans;

    &:hover {
      color: black;
    }
  }
}
.welcome {
  display: flex;
  align-items: center;

  h1 {
    font-size: 3rem;
    font-style: italic;
    margin-right: 15px;
    color: $green;
  }
}
.rocket {
  width: 100px;
  height: 100px;
}
.nav-main {
  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;

    li {
      padding: 5px 10px;
    }
  }
  a {
    color: white;
    transition: $trans;
    font-size: 1.2rem;

    &:hover {
      color: $green;
    }
  }
}
.app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}
.logo {
  height: 40px;
}
.green {
  color: $green;
}
.legs {
  text-align: center;
  h3 {
    margin-top: 20px;
  }
  a {
    color: $blue;
    transition: $trans;

    &:hover {
      color: black;
    }
  }
}