header {
  background-color: black;
  height: 100px;

  h1 {
    color: white;
    font-size: 3.2rem;
  }
}
h1 {
  text-align: center;
  padding: 10px 0;
}
table {
  border: 2px solid black;
  border-collapse: collapse;
}
th,
td {
  border: 1px solid $blue;
  border-collapse: collapse;
  padding: 5px 10px;
}
footer {
  background-color: $blue;
  height: 100px;
}
.app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}
.logo {
  height: 40px;
}
.green {
  color: $green;
}